# Data files
bug_predictor/data/*.csv
bug_predictor/data/*.xlsx

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Conda and virtual environments
.env
env/
venv/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/